# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE / editor
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
